n8n/operational/recruitment-sync-v1.json
{
  "name": "Engosoft — Recruitment Sync [v1]",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-047",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -900,
        120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-048",
              "name": "SUPABASE_URL",
              "value": "https://jrenyjmbbizborhbwptz.supabase.co",
              "type": "string"
            },
            {
              "id": "cfg-049",
              "name": "SUPABASE_KEY",
              "value": "REPLACE_WITH_SUPABASE_SECRET_IN_N8N_ONLY",
              "type": "string"
            },
            {
              "id": "cfg-050",
              "name": "FROM_DATE",
              "value": "={{ new Date(Date.now() - 90*60000).toISOString().slice(0,19).replace('T',' ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "config-051",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -680,
        120
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.applicant",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "write_date",
              "operator": "greaterOrEqual",
              "value": "={{ $('Config').first().json.FROM_DATE }}"
            }
          ]
        }
      },
      "id": "odoo-052",
      "name": "Get Applicants",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -460,
        120
      ],
      "credentials": {
        "odooApi": {
          "id": "a2EBSJpQlmB0wr29",
          "name": "Odoo Live"
        }
      },
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "\nconst iso = (s) => {\n  if (!s) return null;\n  const d = new Date(String(s).replace(' ', 'T') + (String(s).includes('T') ? '' : 'Z'));\n  return Number.isNaN(d.getTime()) ? null : d.toISOString();\n};\nconst ms = (s) => { const v = iso(s); return v ? new Date(v).getTime() : null; };\nconst rel = (v) => Array.isArray(v) ? { id: v[0] ?? null, name: v[1] ?? null } : { id: null, name: null };\nconst rows = (name) => $(name).all().map(i => i.json).filter(r => r && r.id != null);\nconst now = Date.now();\n\nconst applicants = rows('Get Applicants').map(a => {\n  const status = a.application_status || (a.active === false ? 'refused' : 'ongoing');\n  const recruiter = rel(a.user_id); const job = rel(a.job_id); const stage = rel(a.stage_id);\n  return {\n    applicant_id: a.id, applicant_name: a.partner_name || a.name || null,\n    job_id: job.id, job_name: job.name, department_name: rel(a.department_id).name,\n    stage_id: stage.id, stage_name: stage.name,\n    recruiter_user_id: recruiter.id, recruiter_name: recruiter.name,\n    application_status: status, priority: a.priority == null ? null : String(a.priority),\n    applied_at: iso(a.create_date), assigned_at: iso(a.date_open),\n    last_stage_at: iso(a.date_last_stage_update),\n    hired_at: status === 'hired' ? iso(a.date_closed) : null,\n    refused_at: status === 'refused' ? iso(a.date_closed || a.write_date) : null,\n    refuse_reason: rel(a.refuse_reason_id).name,\n    next_activity_deadline: a.activity_date_deadline || null,\n    next_interview_at: iso(a.meeting_display_date), active: a.active !== false,\n    write_date: iso(a.write_date), synced_at: new Date().toISOString()\n  };\n});\nreturn [{ json: { applicants } }];"
      },
      "id": "code-053",
      "name": "Build Recruitment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.SUPABASE_URL }}/rest/v1/fact_recruitment",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Config').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.applicants) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "http-054",
      "name": "Upsert Applicants",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -20,
        120
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Get Applicants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Applicants": {
      "main": [
        [
          {
            "node": "Build Recruitment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Recruitment": {
      "main": [
        [
          {
            "node": "Upsert Applicants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": []
}
